<!DOCTYPE html>
<html>

<head>
    <title>user
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
</head>

<body>
    <button type="button" onclick="edit">profile</button>
    <a href="/">logout</a>
</body>
<script>
    function edit(){
        window.location.replace("/edit");
    }
    function logout(){
        window.location.replace("/");
    }
</script>

</html>